.github/**
.vscode/**
.vscode-test/**
coverage/**
node_modules/**
src/**
test/**

.editorconfig
.gitattributes
.gitignore
.remember/**
esbuild.mjs
eslint.config.mjs
langium-config.json
pnpm-lock.yaml
tsconfig*.json
vitest.config.mts
vsc-extension-quickstart.md

**/*.map
**/*.ts
**/*.mts
