.github/**
.vscode/**
.vscode-test/**
coverage/**
node_modules/**
out/test/**
src/**
test/**

.editorconfig
.eslintignore
.gitattributes
.gitignore
.remember/**
eslint.config.mjs
pnpm-lock.yaml
tsconfig*.json
vitest.config.mts
vsc-extension-quickstart.md

**/*.map
**/*.ts
**/*.mts
